<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>업다운 게임</title>
</head>
<body>
  <h1>업다운 게임</h1>
  <p>1~100 사이 숫자를 입력하세요</p>

  <form id="guessForm">
    {% csrf_token %}
    <label for="userGuess">Your Guess: </label>
    <input type="number" id="userGuess" required>
    <button type="submit">정답 제출</button>
  </form>

  <p>정답 : {{target_number}}</p>
  <p id="resultMessage"></p>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
    const guessForm = document.querySelector('#guessForm')
    
    guessForm.addEventListener('submit', function () {
      event.preventDefault()
      const userGuess = document.querySelector('#userGuess').value
      const data = {
        'user_guess': userGuess
      }
      const sessionId = {{session_id}}
      const url = `/games/guess/${sessionId}/`
      
      axios.post(url, data, {
        headers: {
          'Content-type': 'application/x-www-form-urlencoded',
          'X-CSRFToken': csrftoken
        }
      })
        .then((response) => {
          console.log(response.data)
          const resultMessage = document.querySelector('#resultMessage')
          resultMessage.innerHTML = response.data.message
          if(response.data.is_correct) {
            resultMessage.innerHTML += `<br>축하합니다! ${response.data.attempts + 1}번 만에 맞췄습니다!`
          }
        })
        .catch((error) => {
          console.log(error)
        })
    })

  </script>
</body>
</html>