{% extends "base.html" %}

{% block content %}
<h1>{{person.username}}님의 프로필 페이지 입니다!</h1>
{% if person.email %}
  {{person.email}}
{% else %}
  아직 이메일을 작성하지 않았습니다.
{% endif %}
<hr>
{% if request.user == person %}
  <a href="{% url "accounts:update" %}">[USER_UPDATE]</a>
  <form action="{% url "accounts:delete" %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="[SIGNOUT]">
  </form>
  <hr>
{% endif %}
<h2>{{person.username}}님이 선택한 사진들</h2>
<ul>
  {% for diary in like_diaries %}
    <li>
      {% if diary.picture %}
        <img src="{{diary.picture.url}}" alt="#">
      {% endif %}
      {{diary.content}}
    </li>
  {% endfor %}
</ul>
{% endblock content %}