{% extends 'base.html' %}

{% block is_username %}
  <h3>hello, {{ user.username }}</h3>
  <form action="{% url 'accounts:logout' %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="LOGOUT">
  </form>
  <form action="{% url "accounts:my_score" %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Increase My Score">
  </form>
{% endblock is_username %}
{% block not_username %}
  <h3>로그인 해 주세요.</h3>
  <a href="{% url 'accounts:login' %}">[LOGIN]</a>
{% endblock not_username %}
{% block content %}
  
  <h1>전체 유저 목록</h1>
  <ul>
    {% for person in persons %}
      <li>{{ person.username }}</li>
      <ul>
        <li>{{person.score}}</li>
      </ul>
      {% if person.username == user.username %}
        <form action="{% url 'accounts:increase_score' person.pk %}" method="POST">
          {% csrf_token %}
          <input type="submit" value="Increase Score">
        </form>
      {% endif %}
      <hr>
    {% endfor %}
  </ul>
{% endblock content %}